header {
  background-color: #0c0606;
  padding: 20px;
}

.titulo {
  text-align: center;
}

h1 {
  margin: 0;
  color: #24e040;
}

nav {
  text-align: end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #f0ebeb;
}

nav ul li a:hover {
  color: #1aff00;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main {
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
ul li {
  margin-bottom: 50px;
}
video {
  width: 660px;
  height: 315px;
}
.rojo {
  color: rgb(21, 255, 0);
}
.popup-class {
  border-radius: 0%;
}
button {
  background-color: #24e040;
  color: #f0ebeb;
  border: none;
  margin-left: 35rem;
  margin-right: 35rem;
}
@media screen and (max-width: 500px) {
  /* Estilos para el menú en tablets y pantallas más grandes */

  nav ul li {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 17px;
  }
  video {
    width: 393px;
  }
  iframe {
    width: 393px;
  }
  button {
    margin-left: 0rem;
    margin-right: 10rem;
  }
}
