header {
  background-color: #0c0606;
  padding: 20px;
}

.logo {
  margin: 0;
  color: #24e05c;
}
nav {
  text-align: end;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;

  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #ebf0ed;
}

nav ul li a:hover {
  color: #00ff59;
}
.conctacto {
  text-align: center;
  color: #45a049;
}
.informacion {
  text-align: center;
  font-size: 20px;
}
h3 {
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.mensaje {
  text-align: center;
  color: #fff;
  background-color: #4caf50;
  padding: 10px;
  margin-top: 20px;
  display: none;
}

.mensaje.mostrar {
  display: block;
}
ul li {
  margin-bottom: 50px;
}
button {
  background-color: #24e040;
  color: #f0ebeb;
  border: none;
  margin-left: 46%;
}
@media screen and (max-width: 500px) {
  /* Estilos para el menú en tablets y pantallas más grandes */

  nav ul li {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 17px;
  }
  button {
    margin-left: 37%;
  }
}
